#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Easy Mount Tool for SteamOS
Comment=Setup permanent auto-mounting for any drive on SteamOS
Exec=bash -c "curl -sL 'https://gist.githubusercontent.com/Delil-A11yX/50dddcb8dd764d22475c2051ade734f6/raw/02877aa45e75884d4bb183c5f0419001a5a1785c/setup-mounts.sh' > /tmp/setup-mounts.sh && chmod +x /tmp/setup-mounts.sh && pkexec /tmp/setup-mounts.sh; echo; read -p 'Press Enter to close this window...'"
Icon=drive-harddisk
Terminal=true
Type=Application
